{% extends 'base.html' %}
{% load form_tags %}
{% block title %}Signup - SAAS Foundation{% endblock title %}
{% block content %}

<div class="max-w-sm mx-auto">
    <h2 class="font-bold mb-5 text-center text-lg">Signup</h2>
    <form action="{% url 'account_signup' %}" method="post" class="flex flex-col content-center">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <span class="block bg-yellow-100 text-xs p-2 mb-2 rounded-lg w-full">
                {{ form.non_field_errors }}
            </span>
        {% endif %}
        <div class="mb-5">
            <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            {{ form.email | add_class:'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}
            {{ form.email_errors }}
        </div>
        <div class="mb-5">
            <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New password
            <span>
                <svg class="w-4 h-4 text-gray-800 dark:text-white inline mb-1" id="password_help" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>   
            </span>
            </label>
            <span class="text-xs p-2 m-2 rounded-lg hidden absolute w-48 bg-blue-100" id="password_help_text">
                {{ form.password1.help_text }}
            </span>           
            {{ form.password1 | add_class:'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}
            
            {{ form.password_errors }}
        </div>
        <div class="mb-5">
            <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm new password</label>
            {{ form.password2 | add_class:'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}
            {{ form.password_errors }}
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signup</button>
    </form>
    <p class="text-sm">Already have an account?
        <a href="{% url 'account_login' %}" class="text-sm font-medium text-blue-600 visited:text-purple-600">Login</a>
    </p>
</div> 

<script>
    document.getElementById('password_help').addEventListener('click', (e)=>{
        console.log('clicked')
        document.getElementById('password_help_text').classList.toggle('hidden');
    })
    document.getElementById('password_help_text').addEventListener('mouseleave', (e)=>{
        console.log('clicked')
        document.getElementById('password_help_text').classList.toggle('hidden');
    })
</script>

{% endblock content %}