<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SAAS Foundation{% endblock title %}</title>
    {% include 'base/css.html' %}
</head>
<body>
    {% include 'nav/navbar.html' %}
    {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}<li class="bg-blue-700 border-gray-100 p-2 mb-2 text-white">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
    {% endif %}
    {% block content %}{% endblock content %}
    {% include 'base/js.html' %}
</body>
</html>